.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* @import url("https://fonts.googleapis.com/css2?family=Average+Sans&family=Barlow&family=Lato:wght@300&display=swap"); */

* {
  font-family: roboto;
}

.greeting {
  font-size: 50px;
  font-style: italic;
  font-weight: bold;
}

.image {
  border-radius: 25px;
}

.article {
  height: 50%;
  width: 75%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: grid;
  place-items: center;
  border-radius: 50px 25px 5px 25px;
  animation: 10s;
  justify-content: center;
  align-items: center;
}

.header {
  font-size: 70px;
  color: rgb(69, 55, 15);
  text-align: center;
  font-weight: bolder;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);

.signup-button {
  --c: #08797e; /* the color*/

  box-shadow: 0 0 0 0.1em inset var(--c);
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background: var(--_g) calc(var(--_p, 0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p, 0%)) 0%,
    var(--_g) calc(var(--_p, 0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p, 0%)) 100%;
  background-size: 50.5% calc(var(--_p, 0%) / 2 + 0.5%);
  outline-offset: 0.1em;
  transition: background-size 0.4s, background-position 0s 0.4s;
}
.signup-button:hover {
  --_p: 100%;
  transition: background-position 0.4s, background-size 0s;
}
.signup-button:active {
  box-shadow: 0 0 9e9Q inset #0009;
  background-color: var(--c);
  color: #fff;
}

.signup-button {
  cursor: pointer;
  padding: 0.1em 0.1em;
  font-weight: bold;
  border: none;
}

.login-button {
  border: none;
  cursor: pointer;
}

.login-button:hover {
  border: 10;
  border-style: solid;
  border-color: #08797e;
}

.table-back {
  background-color: #91cacc;
  border-radius: 40px;
  width: 100%;
  padding: 5px;
  /* box-shadow: 2px 2px 9px #111111; */
}

.data-table {
  width: 90%;
}
.user-table {
  background-color: #fdfdfd;
  border-radius: 20px;
  padding: 2px;
  border-color: #ebebeb;
}

.ubody {
  background-color: #f7f3e8;
}

.nbody {
  background-color: #f6f6f6;
  padding: 10px;
}

.fbody {
  padding: 5px;
  color: #08797e;
}

.table-header {
  background-color: #08797e;
  color: #f6f6f6;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns with equal width */
  grid-gap: 10px; /* Gap between grid items */
}

.grid-item {
  display: flex;
  flex-direction: column;
  /* border: 1px solid #ccc; */
  padding: 10px;
}

.grid-label {
  font-weight: bold;
}

.grid-value {
  font-weight: lighter;
}

.btn {
  margin: 4px;
}

.button {
  margin: 4px;
  padding: 10px;
  border-radius: 4px;
  border: none;
}
.button-primary {
  background-color: #08797e;
  color: #ebebeb;
  margin: 4px;
  padding: 10px;
  border-radius: 4px;
  border: none;
}

.button-primary:hover {
  color: #c4b691;
  background-color: #08797e;
}

.ghost-button {
  margin: 4px;
  padding: 10px;
  border-radius: 4px;
  color: #08797e;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #08797e;
}

.ghost-button:hover {
  color: #f6f6f6;
  border-color: #08797e;
  background-color: #08797e;
}

.ghost-button-inverse {
  background-color: #08797e;
  color: #ebebeb;
  margin: 4px;
  padding: 10px;
  border-radius: 4px;
  border: 2px solid #08797e;
}

.ghost-button-inverse:hover {
  color: #08797e;
  border: 2px solid #08797e;
  background-color: rgba(0, 0, 0, 0);
}

.text-second-color {
  color: #c4b691;
}

.text-color-primary {
  color: #08797e;
}

.ghost-button-second {
  margin: 4px;
  padding: 10px;
  border-radius: 4px;
  color: #0009;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #c4b691;
}

.ghost-button-second:hover {
  color: #f6f6f6;
  border-color: #c4b691;
  background-color: #c4b691;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: rgba(8, 121, 126, 0.2);
}

.about {
  font-size: 20px;
}
