body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-tail::after {
  background-color: #08797e !important;
}

.ant-steps-item-process .ant-steps-item-icon {
  background: #46b3cb !important;
  border-color: #46b3cb !important;
}

.ant-steps .ant-steps-item-finish .ant-steps-item-icon {
  background-color: #e9eef1;
  border-color: #e9eef1;
}

.ant-steps .ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
  color: #46b3cb !important;
}

.ant-tabs .ant-tabs-tab {
  font-size: 20px !important;
}

.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #08797e !important;
}

/* .ant-tabs .ant-tabs-ink-bar .ant-tabs-ink-bar-animated {
  color: #08797e !important;
} */

.ant-tabs-ink-bar {
  border-bottom: 2px solid #d4ea4a;
}

.ant-collapse-large
  > .ant-collapse-item
  > .ant-collapse-content
  > .ant-collapse-content-box {
  padding: 0;
}

/* .ant-tabs:hover {
  color: #08797e !important;
} */

.ant-tabs-tab-btn:hover {
  color: #c4b691 !important;
}

.ant-collapse-header-text {
  font-size: larger;
}
